<script type="text/template" id="buyer">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-buyerForm">
    <% if(buyer.id) {%>
    <input type="hidden" name="id" value="<%= buyer.id %>"/>
    <a class="btn btn-default" onclick="Backbone.trigger('buyerForm-getPurchases', {id: <%= buyer.id %> }); return false" style="float: right;"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Consultar Compras</a>
    <br/>
    <% }%>
		<div class="form-group" >
		<label for="username">Username</label>
    	<input type="text" class="form-control" id="username" name="username" placeholder="Enter value" value="<%= buyer.get('username') %>"/>	
		</div>
		<div class="form-group" >
		<label for="password">Password</label>
    	<input type="password" class="form-control" id="password" name="password" placeholder="Enter value" value="<%= buyer.get('password') %>"/>	
		</div>
		<div class="form-group" >
		<label for="email">Email</label>
    	<input type="text" class="form-control" id="email" name="email" placeholder="Enter value" value="<%= buyer.get('email') %>"/>	
		</div>
		<div class="form-group" >
		<label for="firstName">First Name</label>
    	<input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter value" value="<%= buyer.get('firstName') %>"/>	
		</div>
		<div class="form-group" >
		<label for="secondName">Second Name</label>
    	<input type="text" class="form-control" id="secondName" name="secondName" placeholder="Enter value" value="<%= buyer.get('secondName') %>"/>	
		</div>
		<div class="form-group" >
		<label for="lastName">Last Name</label>
    	<input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter value" value="<%= buyer.get('lastName') %>"/>	
		</div>
		<div class="form-group" >
			<label for="birthDate">Birth Date</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="birthDate"  name="birthDate" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#birthDate').datepicker({autoclose:true});
        	$('#birthDate').datepicker('setDate',App.Utils.Converter.date.toDate("<%= buyer.get('birthDate') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
		<div class="form-group" >
		<label for="gender">Gender</label>
    	<input type="text" class="form-control" id="gender" name="gender" placeholder="Enter value" value="<%= buyer.get('gender') %>"/>	
		</div>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= buyer.get('name') %>"/>	
		</div>
    </form>
    </div>
</script> 

<script type="text/template" id="buyerPurchases">
    <div class="form-group">
    <form role="form">
    
    <table class="table table-striped" style="margin-bottom: 0;">
    <thead>
    <tr>
    <th>Name</th>
    <th>Purchase Date</th>
    <th>Total Value</th>
    <th>Total Items</th>
    <th>Points</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(data, function(item) { %>
        <tr>
        <td><%= item.name %></td>
        <td><%= item.purchaseDate %></td>
        <td><%= item.totalValue %></td>
        <td><%= item.totalItems %></td>
        <td><%= item.points %></td>
        </tr>
    <% }); %>
    </tbody>
    </table>
    
    </form>
    </div>
</script> 