<script type="text/template" id="tenantControl">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-tenantControlForm">
    <% if(tenantControl.id) {%>
    <input type="hidden" name="id" value="<%= tenantControl.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="domain">Domain</label>
    	<input type="text" class="form-control" id="domain" name="domain" placeholder="Enter value" value="<%= tenantControl.get('domain') %>"/>	
		</div>
		<div class="form-group" >
	    <label>
    	  <input id="state" name="state" value="true" type="checkbox" <%= tenantControl.get('state')?'checked':'' %>> State
    	</label>
		</div>
    </form>
    </div>
</script> 