<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="purchaseLogicService" class="co.edu.uniandes.csw.miso4204.purchase.logic.ejb.PurchaseLogicService" />
    <bean id="purchaseMasterLogicService" class="co.edu.uniandes.csw.miso4204.purchase.master.logic.ejb.PurchaseMasterLogicService" />
    <!-- Configuración de Seguridad -->
    <bean id="securityLogic" class="co.edu.uniandes.csw.miso4204.security.logic.SecurityLogic" />
    <bean id="securityRealm" class="co.edu.uniandes.csw.miso4204.security.SecurityRealm">
        <property name="securityLogic" ref="securityLogic"/>
    </bean>
    <bean id="securityAuthenticator" class="co.edu.uniandes.csw.miso4204.security.SecurityAuthenticator">
        <property name="securityLogic" ref="securityLogic"/>
    </bean>
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="securityRealm"/>
        <property name="authenticator" ref="securityAuthenticator" />
    </bean>
    <bean id="securityFilter" class="co.edu.uniandes.csw.miso4204.security.SecurityFilter"/>
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="filters">
            <map>
                <entry key="securityFilter" value-ref="securityFilter"/>
            </map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                /webresources/Auth/** = anon
                /webresources/purchases/** = securityFilter
            </value>
        </property>
    </bean>
</beans>