<script type="text/template" id="bonus">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-bonusForm">
    <% if(bonus.id) {%>
    <input type="hidden" name="id" value="<%= bonus.id %>"/>
    <% }%>
		<div class="form-group" >
    <label for="availableBonus">Available Bonuses</label> 
    <select class="form-control" id="availableBonus" name="availableBonus">
    <option value="">None</option>
    <option value="Bonos especial 1|Descuento especial por compras de temporada|10|2016/12/31|5000">Bono especial 1 con grandes promociones de temporada, 10% de descuento redimiendo 5000 puntos. Vence diciembre 2016.</option>
		<option value="Bonos especial 2|Descuento especial por compras de temporada|15|2015/12/31|8000">Bono especial 2 con grandes promociones de temporada, 15% de descuento redimiendo 8000 puntos. Vence diciembre 2015.</option>
		<option value="Bonos especial 3|Descuento especial por compras de temporada|5|2017/12/31|2000">Bono especial 3 con grandes promociones de temporada, 15% de descuento redimiendo 2000 puntos. Vence diciembre 2017.</option>
		<option value="Bonos especial 4|Descuento especial por compras de temporada|10|2015/12/31|5000">Bono especial 4 con grandes promociones de temporada, 10% de descuento redimiendo 5000 puntos. Vence diciembre 2015.</option>
		<option value="Bonos especial 5|Descuento especial por compras de temporada|20|2016/12/31|30000">Bono especial 5 con grandes promociones de temporada, 20% de descuento redimiendo 30000 puntos. Vence diciembre 2016.</option>
		<option value="Bonos especial 6|Descuento especial por compras de temporada|25|2016/12/31|50000">Bono especial 6 con grandes promociones de temporada, 25% de descuento redimiendo 50000 puntos. Vence diciembre 2016.</option>
		<option value="Bonos especial 7|Descuento especial por compras de temporada|5|2015/12/31|2000">Bono especial 7 con grandes promociones de temporada, 5% de descuento redimiendo 2000 puntos. Vence diciembre 2015.</option>
		<option value="Bonos especial 8|Descuento especial por compras de temporada|5|2018/12/31|2000">Bono especial 8 con grandes promociones de temporada, 5% de descuento redimiendo 2000 puntos. Vence diciembre 2018.</option>
		<option value="Bonos especial 9|Descuento especial por compras de temporada|15|2015/12/31|10000">Bono especial 9 con grandes promociones de temporada, 15% de descuento redimiendo 10000 puntos. Vence diciembre 2015.</option>
		<option value="Bonos especial 10|Descuento especial por compras de temporada|20|2016/12/31|40000">Bono especial 10 con grandes promociones de temporada, 20% de descuento redimiendo 40000 puntos. Vence diciembre 2016.</option>
    </select>
    </div>
    </form>
    </div>
</script>
<script type="text/template" id="bonusSearch">
    <div class="form-inline">
    <form role="form" id="<%= componentId %>-bonusSearchForm">
        <div class="form-group" >
            <label for="InitialDate">Initial</label>
            <input type="text" data-converter="date" data-date-format="yyyy/mm/dd" class="form-control" id="minDate"  name="minDate" placeholder="Enter value" />
                <%= '<scr'+'ipt>' %>
        	$('#minDate').datepicker({autoclose:true});
        	<%= '</scr'+'ipt>' %>
        </div>        
        <div class="form-group" >
            <label for="EndDate">End Date</label>
            <input type="text" data-converter="date" data-date-format="yyyy/mm/dd" class="form-control" id="maxDate"  name="maxDate" placeholder="Enter value" />
             <%= '<scr'+'ipt>' %>
        	$('#maxDate').datepicker({autoclose:true});
             <%= '</scr'+'ipt>' %>
        </div>
        <button id="<%= componentId%>-bonus-searchButton" 
        onclick="Backbone.trigger('<%= componentId %>-bonus-searchBonus',{}); return false" 
        type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
        
    </form>
    
    </div>
</script>
