<script type="text/template" id="wishListItem">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-wishListItemForm">
    <% if(wishListItem.id) {%>
    <input type="hidden" name="id" value="<%= wishListItem.id %>"/>
    <% }%>
		<div class="form-group" >
 
			<label for="productidId">Product Id2</label> 
            <select class="form-control" id="productId" name="productId">
			  <option value="">None</option>
            <% product.each(function(productid) { %> 
              <option value="<%=productid.get('id')%>" <% if(wishListItem.get('productId')==productid.get('id')) {%>selected<%}%> ><%=productid.get('name')%></option>
            <% }); %>                
            </select>  
		</div>
    </form>
    </div>
</script> 